/* Will be compiled down to a single stylesheet with your sass files */

* { margin, padding: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  -webkit-transform: translateZ(0.00001px); /* fix issue with bg images not rendering */
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000;
  font: 13px Lapland, Sans-Serif;
}

body.bg-1 {
  background-image: url(/images/bg-1.jpg);
}
body.bg-2 {
  background-image: url(/images/bg-2.jpg);
}

canvas {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -1;
}

#container {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 700px;
}

header {
  position: relative;
  top: 30%;
}

h1 {
  background: #fff;
  display: inline-block;
  font: 70px Mod, Sans-Serif;
  height: 90px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
  width: 465px;
}
h2 {
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 20px;
  text-align: center;
}

nav {
  background: #fff;
  height: 70px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
}
nav ul {
  list-style-type: square;
  margin: 0;
  padding: 0 0 0 20px;
}
nav li {
  letter-spacing: 2px;
  line-height: 1.4em;
}

a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}
a:hover,
a:active {
  background: #FFFF00;
  letter-spacing: 5px;
}

@font-face {
  font-family: 'Mod';
  src: url('../fonts/mod-webfont.eot?');
  src: local('☺'),
    url('../fonts/mod-webfont.woff') format('woff'),
    url('../fonts/mod-webfont.ttf') format('opentype'),
    url('../fonts/mod-webfont.svg#mod-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lapland';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/lap-webfont.eot?');
  src: local("☺"),
    url('../fonts/lap-webfont.woff') format('woff'),
    url('../fonts/lap-webfont.ttf') format('truetype'),
    url('../fonts/lap-webfont.svg#lap-webfont') format('svg');
}

.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

@media all and (orientation:portrait) {
  #container {
    width: 260px;
  }
  header {
    position: relative;
    top: 10%;
  }
  h1 {
    display: block;
    font-size: 38px;
    height: auto;
    padding: 0 10px;
    width: auto;
  }
  nav {
    position: static;
    width: auto;
  }
}

@media screen and (max-device-width: 480px) and (orientation:landscape) {
  body {
    font-size: 8px;
  }
  #container {
    width: 450px;
    margin: 0 auto;
  }
  header {
    position: relative;
    top: 10%;
  }
  h1 {
    display: block;
    font-size: 42px;
    height: auto;
    padding: 0 10px;
    width: auto;
  }
  h2 {
    font-size: 14px;
  }
  nav {
    position: static;
    width: auto;
    height: auto;
    text-align: center;
  }
  nav li {
    display: inline;
    margin-right: 15px;
  }
  nav li:after {
    content: '◼';
    vertical-align: text-bottom;
    margin-left: 14px;
  }
  nav li:last-child:after {
    content: '';
  }
}
